/* The animation code */
@keyframes up-and-down {
  from {translate: 0px 0px;}
  to {translate: 0px 20px;}
}

.hero-img {
  animation-name: up-and-down;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}